h1{
    text-align: center;
    font-size: 64px;
}

#menu {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
#menu a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: #58595b;
    text-decoration: none;
}

#hello{
    text-align: center;
}

