#inputBox{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12pt;
    text-align: center;
    color: black;
    background: #eaeaea;
    padding: 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#addButton{
    border: 1px solid;
    border-radius: 5px;
    font-size: 15pt;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
}
