#menubar li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    line-height: 60px;
}

#menubar li a{
    text-decoration: none;
    color: black;
}

#menubar li a:hover {
    color: red;
    transition-duration: .5s;
    cursor: pointer;
}