#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }

#menu { 
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

#menu a{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 24px;
    text-decoration: none;
    color: gray;
}

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#player a{
  text-decoration: none;
  color: black;
}
